<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/modernizr.js"></script> 
    <title>Document</title>
</head>

<body class="bg_home1">


    <nav class="p-16 grid-nav  nav-bg-change-bw">
        <div class="flex-vertical">
            <div>
                <a href="../views/home.html">
                        <svg class="logo__img" width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                            <title>logo white</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <rect id="path-1" x="0" y="0" width="362" height="281"></rect>
                            </defs>
                            <g id="logo-white" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 0.000000)">
                                <g id="Logo-va" transform="translate(25.000000, 65.000000)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g  id="Background"></g>
                                    <path class="change_color--wb"  d="M227.333901,69.5840865 L158.421242,225.952991 C156.837121,229.547503 153.231284,231.874126 149.244574,231.874126 L108.426791,231.874126 C104.435709,231.874126 100.826793,229.54246 99.2453452,225.942132 L5.68434189e-14,-1.98951966e-13 L52.4108964,-5.95139995e-14 C56.4186439,-6.3734704e-14 60.0392637,2.35093164 61.6104209,5.97341171 L130.854902,165.624376 L203.310915,0.889077985 L203,-1.98951966e-13 L265.359081,-1.98951966e-13 L360.909442,267.572048 C362.737902,272.692329 359.995495,278.299483 354.784106,280.095977 C353.720216,280.462726 352.60086,280.650062 351.473387,280.650062 L203,280.650062 L219.57962,232.452547 L284.28981,232.452547 L227.333901,69.5840865 Z" id="Path" fill="#FFFFFF" fill-rule="evenodd" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </svg>
                </a>
                
            </div>
            <span class=" pl-16 body-font-4 text-nav hide-desktop translate-es">Nosotros</span>
           
        </div>

        <div class="flex-h-end flex-vertical">
            <div class="hide-desktop">
                <div class="btn-translate">
                    <img class="icon-nav relative" src="../assets/images/globo-terraqueo.svg" alt="">
                    <span class="body-font-5 text-white pr-8 pl-8">ENG</span>
                    <div class="btn-translate-d hide"></div>
                </div>

            </div>

            <div class="relative">
                <a href="#0" class="cd-nav-trigger white-border-mobile">Menu<span class="cd-icon"></span></a>
                <span class="absolute pl-16 body-font-4 text-nav title-nav-our hide-mobile translate-es">Nosotros</span>
             
            </div>
        </div>
    </nav>
      <!-- Section Menu Options -->
      <section>
	
		<div class="menu-item-grid cd-primary-nav title-white">

			<div class="item-home item-home-js flex-center bg-blue-va cursor-link">
				Home</div>

			<div class="item-work item-work-js bg-turquoise-va flex-center cursor-link">
				<p class="translate-es">Proyectos</p>
			
			</div>

			<div class=" item-services item-services-js bg-pink-va flex-center cursor-link">
				<p class="translate-es">Nuestro<br> proceso</p>
		
			</div>
			<div class=" item-about item-about-js bg-blue2-va flex-center cursor-link">
				<p class="translate-es">Nosotros</p>
				
			</div>
			<div class="item-contact item-contact-js bg-violet-va flex-center cursor-link">
				<p class="translate-es">Contacto</p>
	
			</div>
		</div>
    </section>
   
    <div class="cd-overlay-nav">
		<span></span>
	</div> <!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div> <!-- cd-overlay-content -->


    <section class="grid-text-nav-about  flex-center">

        <section class="p-16 ">
            <div class=" ">
                <h3 class="subtitle-section-big text-blue">Challenge Aceppted.</h3>



                <div class="text-alternative-flex">
                    <p class="body-font-3 text-blue box-content-about mt-16 translate-es">Somos un experimentado y apasionado equipo de diseñadores, desarrolladores y project managers que enfrenta retos y celebra victorias junto contigo, porque ya eres parte del equipo.</p>
                    <p class="body-font-3 text-blue box-content-about mt-16 translate-en hide">We are an experienced and passionate team of designers, developers and project managers who face challenges and celebrate victories with you, because you are already part of the team.</p>
                </div>

                <div class="grid-about">
                    <div class="flex-center ">
                        <div>
                            <p class="body-font-9  f-bold subtitle-img">Somos honestamente abieros contigo.</p>
                            <img src="../assets/images/chat.svg" alt="">

                        </div>

                    </div>
                    <div class="flex-alternative">
                        <div>
                            <p class="body-font-9  f-bold subtitle-img">Creamos proyectos de corazón.</p>
                            <img src="../assets/images/heart-2.svg" alt="">

                        </div>

                    </div>
                    <div class="flex-alternative">
                        <div>
                            <p class="body-font-9  f-bold subtitle-img">Queremos inspirar e innovar.</p>
                            <img src="../assets/images/light3.svg" alt="">

                        </div>

                    </div>
                </div>

            </div>
        </section>

    </section>



</body>
<script src="../js/app.js"></script>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/velocity.min.js"></script>
<script src="../js/main.js"></script>

</html>