<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body class="align-end">
    <nav class="pl-16 pr-16 pt-8 grid-nav  bg-blue-va">
        <div class="flex-vertical">
            <div>
                <svg class="logo__img" width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            
                            <title>logo white</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <rect id="path-1" x="0" y="0" width="362" height="281"></rect>
                            </defs>
                            <g id="logo-white" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 0.000000)">
                                <g id="Logo-va" transform="translate(25.000000, 65.000000)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g  id="Background"></g>
                                    <path   d="M227.333901,69.5840865 L158.421242,225.952991 C156.837121,229.547503 153.231284,231.874126 149.244574,231.874126 L108.426791,231.874126 C104.435709,231.874126 100.826793,229.54246 99.2453452,225.942132 L5.68434189e-14,-1.98951966e-13 L52.4108964,-5.95139995e-14 C56.4186439,-6.3734704e-14 60.0392637,2.35093164 61.6104209,5.97341171 L130.854902,165.624376 L203.310915,0.889077985 L203,-1.98951966e-13 L265.359081,-1.98951966e-13 L360.909442,267.572048 C362.737902,272.692329 359.995495,278.299483 354.784106,280.095977 C353.720216,280.462726 352.60086,280.650062 351.473387,280.650062 L203,280.650062 L219.57962,232.452547 L284.28981,232.452547 L227.333901,69.5840865 Z" id="Path" fill="#FFFFFF" fill-rule="evenodd" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </svg>
            </div>
            <span class=" pl-16 body-font-4 text-nav hide-desktop">Nosotros</span>
        </div>

        <div class="flex-h-end flex-vertical">
            <div class="hide-desktop">
                <img class="icon-nav" src="../assets/images/globo-terraqueo.svg" alt="">
                <span class="body-font-5 text-white pr-8 pl-8">ENG</span>
            </div>

            <button class="hamburger hamburger__border--only-w  hamburger--collapse open-menu-js" type="button">
                        <span class="hamburger-box">
                          <span class=" hamburger-inner hamburger-inner-only-white "></span>
                        </span>
                      </button>
        </div>
    </nav>

    <section class="box-about expand">
        <!-- <div class=" text-blue "> -->
        <div class=" bg-blue-va grid-title-desktop">
            <div class="bg-blue-va max-w-contact-t  box-like flex-vertical pl-16 ">
                <p class="title-contact ">¿Te gustó lo qué viste?</p>
            </div>
            <div>
                <span class=" pl-16 body-font-4 text-nav-white hide-mobile">Contáctanos</span>
            </div>
        </div>
    </section>
    <section class="expand text-blue">
        <div class="max-w-contact ">
            <div class="grid-contact">
                <div class=" p-16 call">
                    <p class="body-font-6 f-bold mb-24 ">Te llamamos</p>
                    <p class="body-font-8 ">Nombre y apellido</p>
                    <input class="box-input p-8 mt-16 " type="text " placeholder="Sara Allem ">
                    <p class="body-font-8 mt-24 ">Teléfono o celular</p>
                    <input class="box-input p-8 mt-16 " type="text " placeholder="555 55555 ">
                    <div class="text-right mt-24 ">
                        <button class="btn btn_blue ">Quiero que me llamen</button>
                    </div>

                </div>
                <div class="p-16  gretting">
                    <p class="body-font-6 f-bold ">Pasa a saludar</p>
                    <div class="body-font-8 align-alternative pt-24 ">
                        <p class="pt-16 pb-16 ">+51 987654321</p>
                        <p class="pt-16 pb-16 ">hola@vonallem.la</p>
                        <p class="pt-16 pb-16 ">Av. Caminos del Inca 2416 Of. 302</p>
                    </div>
                    <div class="grid-social pb-32 pt-24 ">
                        <img src="../assets/images/linkedin-icon.svg " alt=" ">
                        <img src="../assets/images/fb-icon.svg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- </div> -->





    <footer class="body-font-7 text-center text-blue pb-16 relative">
        Copyright 2019 Von Allem All Rights Reserved Privacy Policy
    </footer>

</body>

</html>