<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body class="bg_home1">

    <nav class="p-16 grid-nav  ">
        <div class="flex-vertical">
            <img class="logo__img" src="../assets/images/logo.svg" alt="">

        </div>

        <div class="flex-h-end flex-vertical">
            <div class="hide-desktop">
                <div class="btn-translate">
                    <img class="icon-nav relative" src="../assets/images/globo-terraqueo-b.svg" alt="">
                    <span class="body-font-5 text-blue pr-8 pl-8">ENG</span>
                </div>

            </div>
            <div class="relative">
                <button class="hamburger hamburger__border--blue hamburger--collapse open-menu-js" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner "></span>
          </span>
        </button>
                <span class="absolute pl-16 body-font-4 text-nav hide-mobile">Home</span>
            </div>


        </div>
    </nav>
    <section class="menu-section expand-js  title-white hide">
        <div class="content-menu-js  hide">
            <div class="  fixed-desktop menu-close">
                <nav class="p-16 grid-nav">
                    <div class="flex-vertical">
                        <img class="logo__img" src="../assets/images/logowhite.svg" alt="">
                    </div>
                    <div class="text-right">
                        <button class="hamburger-w hamburger-w--collapse close-menu-js is-active" type="button">
              <span class="hamburger-w-box">
                <span class="hamburger-w-inner"></span>
              </span>
            </button>
                    </div>
                </nav>
            </div>
            <div class="menu-item-grid">

                <div class="item-home item-home-js flex-center bg-blue-va">
                    Home</div>

                <div class="item-work item-work-js bg-turquoise-va flex-center">
                    <p class="translate-es">Proyectos</p>
                    <p class="hide translate-en">Project</p>
                </div>

                <div class=" item-services item-services-js bg-pink-va flex-center">
                    <p class="translate-es">Nuestro<br> proceso</p>
                    <p class="hide translate-en">Our process</p>
                </div>
                <div class=" item-about item-about-js bg-blue2-va flex-center">
                    <p class="translate-es">Nosotros</p>
                    <p class="hide translate-en">About us</p>
                </div>
                <div class="item-contact item-contact-js bg-violet-va flex-center">
                    <p class="translate-es">Contacto</p>
                    <p class="hide translate-en">Contact</p>
                </div>
            </div>

        </div>

    </section>


    <div class="grid-max-w-home grid-max-heigth">
        <div class="p-16 grid-home ">
            <div class="">
                <p class="title_home-1 translate-es">Comprendimos que podemos transformar de todo.</p>
                <p class="title_home-1 translate-en hide">WE UNDERSTAND THAT WE CAN TRANSFORM EVERYTHING</p>
                <p class="body-font-10 text-blue margin-mobile translate-es">Impulsados por la Innovación,<br> transformamos la investigación en insight para generar something awesome.</p>
                <p class="body-font-10 text-blue margin-mobile translate-en hide">Driven by innovation,<br> we transform research into insights to generate something awesome.</p>
            </div>
            <div class="flex-horizontal-mob relative">
                <div class="relative flex-center mt-16">
                    <img class="img-balls animate-balls-home" src="../assets/images/balls.png" alt="">
                    <img class="img-balls animate-transition-ball" src="../assets/images/ball-transition.svg" alt="">
                    <img class="img-balls-2 animate-transition-ball animate-innovation" src="../assets/images/innova.png" alt="">
                </div>



            </div>
        </div>
    </div>
    <div class="grid-max-w-home">
        <div class="grid-shadow hide-mobile ">
            <div>

            </div>
            <div class="hide-mobile">
                <div class="flex-center ">
                    <div class="circle-shadow">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hide-mobile pl-24 btn-translate-d">
        <img class="icon-nav relative" src="../assets/images/globo-terraqueo-b.svg" alt="">
        <span class="body-font-5 text-blue pr-8 pl-8 ">Change language (ENG)</span>
    </div>

</body>
<script src="../js/app.js"></script>

</html>