// Colors Basic
$blue-va: #224364;
$violet-va:#5b507a;
$turquoise-va:#3ea1b2;
$blue2-va:#3e78b2;
$pink-va:#e59ca8;
$dark-turquoise-va:#005d68;
$white-va:#fff;
//  Light Color
$blue-light-va: #3a608c;
$violet-light-va:#9c92b6;
$turquoise-light-va:#72cfd9;
$blue2-light-va:#5092d5;
$pink-light-va:#dcaba2;
// Complementary Color
$dark-violet-va:#332f40;
$dark-violet2-va:#3a3646;
$yellow-va:#ffe465;
$dark-yellow-va:#e5cd58;
$red-va:#ff5a4f;
$grey-va:#4d4d4d;
// Fonts
@font-face {
    font-family: "Lucida Grande Regular";
    src: url("../assets/fonts/LucidaGrande.ttf");
}

@font-face {
    font-family: "Lucida Grande Bold";
    src: url("../assets/fonts/LucidaGrandeBold.ttf");
}

// Fonts Title
$title-font: 'Montserrat';
$base: 'Lucida Grande Regular';