body {
    margin: 0;
    // overflow: hidden;
    padding: 0;
}

p {
    margin: 0;
}

h2,
h1,
h3,
h4 {
    margin: 0;
}

.height-ball-1 {
    height: 255px;
    width: 255px;
    @media screen and (min-width: 1024px) {
        width: 576px;
        height: 576px;
    }
}

.body-acc {
    @media screen and (min-width: 1024px) {
        overflow: hidden;
    }
}