//   
@-webkit-keyframes kf_el_eRMG6rF3_pL_an_oeqEPsv_m {
    0% {
      -webkit-transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
      transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
    }
    16.67% {
      -webkit-transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
      transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
    }
    100% {
      -webkit-transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
      transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
    }
  }
  @keyframes kf_el_eRMG6rF3_pL_an_oeqEPsv_m {
    0% {
      -webkit-transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
      transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
    }
    16.67% {
      -webkit-transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
      transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
    }
    100% {
      -webkit-transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
      transform: translate(245.13198852539062px, 174.5px)
        translate(-245.13198852539062px, -174.5px) translate(18px, 0px);
    }
  }
  @-webkit-keyframes kf_el_q3hnL_taKq8_an_qqGpf7v_k {
    16.67% {
      -webkit-transform: translate(317px, 174.5px) scale(1, 1)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(1, 1) translate(-317px, -174.5px);
    }
    38.89% {
      -webkit-transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
    }
    0% {
      -webkit-transform: translate(317px, 174.5px) scale(1, 1)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(1, 1) translate(-317px, -174.5px);
    }
    100% {
      -webkit-transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
    }
  }
  @keyframes kf_el_q3hnL_taKq8_an_qqGpf7v_k {
    16.67% {
      -webkit-transform: translate(317px, 174.5px) scale(1, 1)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(1, 1) translate(-317px, -174.5px);
    }
    38.89% {
      -webkit-transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
    }
    0% {
      -webkit-transform: translate(317px, 174.5px) scale(1, 1)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(1, 1) translate(-317px, -174.5px);
    }
    100% {
      -webkit-transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
      transform: translate(317px, 174.5px) scale(6.5, 6.5)
        translate(-317px, -174.5px);
    }
  }
  @-webkit-keyframes kf_el_eRMG6rF3_pL_an_QG9OO6hGV {
    0% {
      -webkit-transform: translate(245.13198852539062px, 174.5px) scale(1, 1)
        translate(-245.13198852539062px, -174.5px);
      transform: translate(245.13198852539062px, 174.5px) scale(1, 1)
        translate(-245.13198852539062px, -174.5px);
    }
    16.67% {
      -webkit-transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
      transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
    }
    100% {
      -webkit-transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
      transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
    }
  }
  @keyframes kf_el_eRMG6rF3_pL_an_QG9OO6hGV {
    0% {
      -webkit-transform: translate(245.13198852539062px, 174.5px) scale(1, 1)
        translate(-245.13198852539062px, -174.5px);
      transform: translate(245.13198852539062px, 174.5px) scale(1, 1)
        translate(-245.13198852539062px, -174.5px);
    }
    16.67% {
      -webkit-transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
      transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
    }
    100% {
      -webkit-transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
      transform: translate(245.13198852539062px, 174.5px) scale(6, 1)
        translate(-245.13198852539062px, -174.5px);
    }
  }
  @-webkit-keyframes kf_el_q3hnL_taKq8_an_Y-tg7VwvW {
    0% {
      -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(0px, 0px);
      transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(0px, 0px);
    }
    16.67% {
      -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
      transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
    }
    100% {
      -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
      transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
    }
  }
  @keyframes kf_el_q3hnL_taKq8_an_Y-tg7VwvW {
    0% {
      -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(0px, 0px);
      transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(0px, 0px);
    }
    16.67% {
      -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
      transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
    }
    100% {
      -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
      transform: translate(317px, 174.5px) translate(-317px, -174.5px)
        translate(250px, 0px);
    }
  }
  #el_ZkGapGZ5U * {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  #el_mEMb0xNNrW {
    stroke: none;
    stroke-width: 1;
    fill: none;
  }
  #el_kGerBHNCAb {
    -webkit-transform: translate(72px, 61px);
    transform: translate(72px, 61px);
  }
  #el_5_3ZzRgXZ0 {
    // fill: #224364;
  }
  #el_HqAjAgkJZY {
    // fill: #224364;
    -webkit-transform: translate(351px, 0px) scale(-1, 1);
    transform: translate(351px, 0px) scale(-1, 1);
  }
  #el_udlUNqosYx {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_hRKpLJNrqE {
    stroke: #ffffff;
    stroke-width: 7;
    -webkit-transform: translate(327px, 0px) scale(-1, 1);
    transform: translate(327px, 0px) scale(-1, 1);
  }
  #el_m_7rniARqg {
    stroke: #ffffff;
    stroke-width: 7;
    -webkit-transform: translate(0px, 452px) scale(1, -1);
    transform: translate(0px, 452px) scale(1, -1);
  }
  #el_oS3G0ZcsJN {
    stroke: #ffffff;
    stroke-width: 7;
    -webkit-transform: translate(313px, 452px) scale(-1, -1);
    transform: translate(313px, 452px) scale(-1, -1);
  }
  #el_dVXO1fVzHn {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_wYVDKxsXrj {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_YHmcHFMXrI {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_7C_MML1iL6 {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_SvBUyZ5xr2 {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_IROQOC1Iwi {
    stroke: #ffffff;
    stroke-width: 7;
  }
  #el_jb3dPP0nKF {
    stroke: #224364;
    stroke-width: 7;
  }
  #el_p8N9HHxvGkV {
    stroke: #224364;
    stroke-width: 7;
    -webkit-transform: translate(0px, 516px) scale(1, -1);
    transform: translate(0px, 516px) scale(1, -1);
  }
  #el_eRMG6rF3_pL {
    stroke: #224364;
    stroke-width: 7;
    stroke-linecap: square;
    stroke-linejoin: round;
  }
  #el_e0jrCQN99c7 {
    // fill: #224364;
  }
  #el_q3hnL_taKq8 {
    // fill: #224364;
  }
  #el_MpLh42sXta- {
    // fill: #224364;
  }
  #el_mEMb0xNNrW_an_gtnzXCGmr {
    -webkit-transform: translate(72px, 61px) translate(-72px, -61px)
      translate(-100px, 0px);
    transform: translate(72px, 61px) translate(-72px, -61px)
      translate(-100px, 0px);
  }
  #el_mEMb0xNNrW_an_GTwKYFkpG {
    -webkit-transform: translate(72px, 61px) translate(-72px, -61px)
      translate(-100px, 0px);
    transform: translate(72px, 61px) translate(-72px, -61px)
      translate(-100px, 0px);
  }
  #el_q3hnL_taKq8_an_mFNU77fpY {
    -webkit-transform: translate(292px, 150px) translate(-292px, -150px)
      translate(100px, 0px);
    transform: translate(292px, 150px) translate(-292px, -150px)
      translate(100px, 0px);
  }
  #el_q3hnL_taKq8_an_ekMiTZoZ_ {
    -webkit-transform: translate(292px, 150px) translate(-292px, -150px)
      translate(100px, 0px);
    transform: translate(292px, 150px) translate(-292px, -150px)
      translate(100px, 0px);
  }
  #el_eRMG6rF3_pL_an_H3TTVJOC7 {
    -webkit-transform: translate(245.13198852539062px, 174.5px) scale(2, 2)
      translate(-245.13198852539062px, -174.5px);
    transform: translate(245.13198852539062px, 174.5px) scale(2, 2)
      translate(-245.13198852539062px, -174.5px);
  }
  #el_q3hnL_taKq8_an_Y-tg7VwvW {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: translate(317px, 174.5px) translate(-317px, -174.5px)
      translate(0px, 0px);
    transform: translate(317px, 174.5px) translate(-317px, -174.5px)
      translate(0px, 0px);
    -webkit-animation-name: kf_el_q3hnL_taKq8_an_Y-tg7VwvW;
    animation-name: kf_el_q3hnL_taKq8_an_Y-tg7VwvW;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  #el_eRMG6rF3_pL_an_CfJBQ4rzp {
    -webkit-transform: translate(245.13198852539062px, 174.5px)
      translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
    transform: translate(245.13198852539062px, 174.5px)
      translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
  }
  #el_eRMG6rF3_pL_an_QG9OO6hGV {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: translate(245.13198852539062px, 174.5px) scale(1, 1)
      translate(-245.13198852539062px, -174.5px);
    transform: translate(245.13198852539062px, 174.5px) scale(1, 1)
      translate(-245.13198852539062px, -174.5px);
    -webkit-animation-name: kf_el_eRMG6rF3_pL_an_QG9OO6hGV;
    animation-name: kf_el_eRMG6rF3_pL_an_QG9OO6hGV;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  #el_q3hnL_taKq8_an_qqGpf7v_k {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: translate(317px, 174.5px) scale(1, 1)
      translate(-317px, -174.5px);
    transform: translate(317px, 174.5px) scale(1, 1) translate(-317px, -174.5px);
    -webkit-animation-name: kf_el_q3hnL_taKq8_an_qqGpf7v_k;
    animation-name: kf_el_q3hnL_taKq8_an_qqGpf7v_k;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
  #el_eRMG6rF3_pL_an_oeqEPsv_m {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: translate(245.13198852539062px, 174.5px)
      translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
    transform: translate(245.13198852539062px, 174.5px)
      translate(-245.13198852539062px, -174.5px) translate(0px, 0px);
    -webkit-animation-name: kf_el_eRMG6rF3_pL_an_oeqEPsv_m;
    animation-name: kf_el_eRMG6rF3_pL_an_oeqEPsv_m;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  
  .move-svg{
    top: -45px;
  }

  .move-text{
    bottom: 25px;
    right: 25px;
  }