@-webkit-keyframes kf_el_6OdwwwQDUw_an_xY7gt1-Km {
  0% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(-58px, 120px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(-58px, 120px);
  }

  31.67% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(25px, 350px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(25px, 350px);
  }

  45% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
  }

  100% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
  }
}

@keyframes kf_el_6OdwwwQDUw_an_xY7gt1-Km {
  0% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(-58px, 120px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(-58px, 120px);
  }

  31.67% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(25px, 350px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(25px, 350px);
  }

  45% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
  }

  100% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
    transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(0px, -40px);
  }
}

@-webkit-keyframes kf_el_6OdwwwQDUw_an_F2Jlis7Fi {
  0% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.02, 0.02) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.02, 0.02) translate(-430.71697998046875px, -121.3958740234375px);
  }

  31.67% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.1, 0.1) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.1, 0.1) translate(-430.71697998046875px, -121.3958740234375px);
  }

  45% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
  }

  100% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
  }
}

@keyframes kf_el_6OdwwwQDUw_an_F2Jlis7Fi {
  0% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.02, 0.02) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.02, 0.02) translate(-430.71697998046875px, -121.3958740234375px);
  }

  31.67% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.1, 0.1) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.1, 0.1) translate(-430.71697998046875px, -121.3958740234375px);
  }

  45% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
  }

  100% {
    -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
    transform: translate(430.71697998046875px, 121.3958740234375px) scale(1, 1) translate(-430.71697998046875px, -121.3958740234375px);
  }
}

@-webkit-keyframes kf_el_EopNiMkgCN_an_bbP7yzuit {
  0% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  18.33% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  21.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }

  45% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }

  46.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  63.33% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  66.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }

  100% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }
}

@keyframes kf_el_EopNiMkgCN_an_bbP7yzuit {
  0% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  18.33% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  21.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }

  45% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }

  46.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  63.33% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  }

  66.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }

  100% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
    transform: translate(265.3201904296875px, 203.7144012451172px) scale(0, 0) translate(-265.3201904296875px, -203.7144012451172px);
  }
}

@-webkit-keyframes kf_el_EopNiMkgCN_an_PEv7FtBdr {
  0% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
  }

  21.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
  }

  45% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-7px, 36px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-7px, 36px);
  }

  46.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
  }

  66.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
  }

  100% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
  }
}

@keyframes kf_el_EopNiMkgCN_an_PEv7FtBdr {
  0% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
  }

  21.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
  }

  45% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-7px, 36px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-7px, 36px);
  }

  46.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
  }

  66.67% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
  }

  100% {
    -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
    transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(-50px, 250px);
  }
}

@-webkit-keyframes kf_el_fpd7G_GMg-_an_Ps9MUMwgR {
  0% {
    -webkit-transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
    transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
  }

  100% {
    -webkit-transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
    transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
  }
}

@keyframes kf_el_fpd7G_GMg-_an_Ps9MUMwgR {
  0% {
    -webkit-transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
    transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
  }

  100% {
    -webkit-transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
    transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
  }
}

#el_5cKIPoltX * {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el__jLb3Pkxu4 {
  stroke: none;
  stroke-width: 1;
  fill: none;
}

#el_lF4C2M9yBV {
  -webkit-transform: translate(363.290898088505px, 62.874159376855005px) scale(-1, 1) rotate(11deg);
  transform: translate(363.290898088505px, 62.874159376855005px) scale(-1, 1) rotate(11deg);
}

#el_fpd7G_GMg- {
  -webkit-transform: translate(165px, 114px) scale(-1, 1);
  transform: translate(165px, 114px) scale(-1, 1);
}

#el_Y1PmnzPH8t {
  fill: #e59ca8;
}

#el_xpz0bRJpJm {
  fill: #3ea1b2;
}

#el_sWVWBPBAJy {
  fill: #5b507a;
}

#el_3AIjOnFqRm {
  fill: #3e78b2;
}

#el_EopNiMkgCN {
  fill: #e59ca8;
}

#el_CC835Rv3lL {
  -webkit-transform: translate(362.707628px, 185.043695px) scale(-1, 1);
  transform: translate(362.707628px, 185.043695px) scale(-1, 1);
}

#el_YmWI7uc6iC {
  fill: #BD8B81;
}

#el_iCD8Fv2qLt {
  fill: #DCABA2;
}

#el_7QjaD2glVf {
  fill: #224364;
}

#el_6OdwwwQDUw {
  // fill: #e59ca8;
  -webkit-transform: translate(62.376015px, -35.771486213791434px) rotate(3deg);
  transform: translate(62.376015px, -35.771486213791434px) rotate(3deg);
}

#el_fpd7G_GMg-_an_Ps9MUMwgR {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
  transform: translate(0.2929364740848541px, 0.9370276927947998px) translate(-0.2929364740848541px, -0.9370276927947998px) translate(168px, -110px);
  -webkit-animation-name: kf_el_fpd7G_GMg-_an_Ps9MUMwgR;
  animation-name: kf_el_fpd7G_GMg-_an_Ps9MUMwgR;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_EopNiMkgCN_an_PEv7FtBdr {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
  transform: translate(265.3201904296875px, 203.7144012451172px) translate(-265.3201904296875px, -203.7144012451172px) translate(0px, 0px);
  -webkit-animation-name: kf_el_EopNiMkgCN_an_PEv7FtBdr;
  animation-name: kf_el_EopNiMkgCN_an_PEv7FtBdr;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_EopNiMkgCN_an_bbP7yzuit {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  transform: translate(265.3201904296875px, 203.7144012451172px) scale(1, 1) translate(-265.3201904296875px, -203.7144012451172px);
  -webkit-animation-name: kf_el_EopNiMkgCN_an_bbP7yzuit;
  animation-name: kf_el_EopNiMkgCN_an_bbP7yzuit;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-iteration-count: infinite;
}

#el_6OdwwwQDUw_an_F2Jlis7Fi {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.02, 0.02) translate(-430.71697998046875px, -121.3958740234375px);
  transform: translate(430.71697998046875px, 121.3958740234375px) scale(0.02, 0.02) translate(-430.71697998046875px, -121.3958740234375px);
  -webkit-animation-name: kf_el_6OdwwwQDUw_an_F2Jlis7Fi;
  animation-name: kf_el_6OdwwwQDUw_an_F2Jlis7Fi;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_6OdwwwQDUw_an_xY7gt1-Km {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(-58px, 120px);
  transform: translate(430.71697998046875px, 121.3958740234375px) translate(-430.71697998046875px, -121.3958740234375px) translate(-58px, 120px);
  -webkit-animation-name: kf_el_6OdwwwQDUw_an_xY7gt1-Km;
  animation-name: kf_el_6OdwwwQDUw_an_xY7gt1-Km;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}