.container-intro{
    width:1920px;
    height:100vh;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
     animation : moveintro 2.5s 1  ease-out  ;
    animation-fill-mode:forwards;
    position:absolute;
    right: -1366px;
  }
  
  .rectangle{
    height:100vh;
    width:80000px;
    background: $blue-va;
    
  }
  
  .line{
    width: 30000px;
    height: 12px;
    background: #224364;
    animation: hide .2s forwards;
    animation-delay: 2.4s;
    position: relative;
    top: -27.95px;
    
  }
  
  .ball{
    width:100px;
    height:100px;
    border-radius:50%;
    animation: move-logo 2s 1 forwards;
    animation-delay: 3s;
    position: relative;
    right:   11px;
    img{
        width:100px; 
        animation: logo-size 2s 1 forwards;
        animation-delay: 5s;
    }
  }
  
  @keyframes moveintro {
    0% {
      right:-1366px ;
      
    }
    100% {
      right: 92%;
      
    }
  }
  
  @keyframes hide {
    0% {
      opacity:1 ;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes move-logo {
    0% {
      position:relative;
      bottom:0;
    }
    100% {
      position:relative;
      bottom:40%;
    
    }
  }

  @keyframes logo-size {
    0% {
      width: 100px;
    }
    100% {
      width: 60px;
      left: 16px;
    }
  }
  
  
  