@-webkit-keyframes kf_el_dU1Bw0m8_lB_an_h8taezBzH {
  0% {
    -webkit-transform: translate(541px, 431px) scale(0, 0) translate(-541px, -431px);
    transform: translate(541px, 431px) scale(0, 0) translate(-541px, -431px);
  }

  25% {
    -webkit-transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
    transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
  }


  100% {
    -webkit-transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
    transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
  }
}

@keyframes kf_el_dU1Bw0m8_lB_an_h8taezBzH {
  0% {
    -webkit-transform: translate(541px, 431px) scale(0, 0) translate(-541px, -431px);
    transform: translate(541px, 431px) scale(0, 0) translate(-541px, -431px);
  }

  25% {
    -webkit-transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
    transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
  }

  100% {
    -webkit-transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
    transform: translate(541px, 431px) scale(1, 1) translate(-541px, -431px);
  }
}

@-webkit-keyframes kf_el_dU1Bw0m8_lB_an_sUMHTXkFb {
  0% {
    -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(-400px, 58px);
    transform: translate(541px, 431px) translate(-541px, -431px) translate(-400px, 58px);
  }

  25% {
    -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
    transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
    transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
  }
}

@keyframes kf_el_dU1Bw0m8_lB_an_sUMHTXkFb {
  0% {
    -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(-400px, 58px);
    transform: translate(541px, 431px) translate(-541px, -431px) translate(-400px, 58px);
  }

  25% {
    -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
    transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
    transform: translate(541px, 431px) translate(-541px, -431px) translate(0px, 0px);
  }
}

#el_KOlENIZzQ * {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-fill-mode: forwards;
}

#el_h_hIQ_eRb6 {
  stroke: none;
  stroke-width: 1;
  fill: none;
}

#el_kt-PX6dA8E {
  -webkit-transform: translate(75px, 237px);
  transform: translate(75px, 237px);
}

#el_wrk6DzSeJi {
  fill: #3E78B2;
}

#el_Ywc3S8lY7S {
  fill: #EFEFEF;
}

#el_nWmFgZPreM {
  fill: #224364;
}

#el_cxmoI9uvD5 {
  fill: #3E78B2;
}

#el_kb0yLkG0fb {
  -webkit-transform: translate(149px, 304px);
  transform: translate(149px, 304px);
  fill: #5CD89F;
  fill-opacity: 0.15;
}

#el_dxW8vdjX9Mu {
  fill: #FFFFFF;
}

#el_dU1Bw0m8_lB {
  -webkit-transform: translate(541px, 149px);
  transform: translate(600px, 149px);
}

#el_0pwmEIxD5zC {
  fill: #F2F2F2;
}

#el_xZ1xogWroKv {
  fill: #C5CFD6;
}

#el_THt37vwg9Qg {
  -webkit-transform: translate(404px, 12px);
  transform: translate(404px, 12px);
  fill: #FFFFFF;
}

#el_dU1Bw0m8_lB_an_sUMHTXkFb {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(541px, 431px) translate(-541px, -431px) translate(-400px, 58px);
  transform: translate(541px, 431px) translate(-541px, -431px) translate(-400px, 58px);
  -webkit-animation-name: kf_el_dU1Bw0m8_lB_an_sUMHTXkFb;
  animation-name: kf_el_dU1Bw0m8_lB_an_sUMHTXkFb;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_dU1Bw0m8_lB_an_h8taezBzH {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(541px, 431px) scale(0, 0) translate(-541px, -431px);
  transform: translate(541px, 431px) scale(0, 0) translate(-541px, -431px);
  -webkit-animation-name: kf_el_dU1Bw0m8_lB_an_h8taezBzH;
  animation-name: kf_el_dU1Bw0m8_lB_an_h8taezBzH;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
