@-webkit-keyframes kf_el_REEUnqs_Sz_an_1Z2T4-VfM {
  80% {
    -webkit-transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
  }

  82.22% {
    -webkit-transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
  }

  0% {
    -webkit-transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
  }

  100% {
    -webkit-transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
  }
}

@keyframes kf_el_REEUnqs_Sz_an_1Z2T4-VfM {
  80% {
    -webkit-transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
  }

  82.22% {
    -webkit-transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
  }

  0% {
    -webkit-transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
  }

  100% {
    -webkit-transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
    transform: translate(65.5px, 9px) scale(1, 1) translate(-65.5px, -9px);
  }
}

@-webkit-keyframes kf_el_nK7GUoQYGR_an_97jzUlAiI {
  80% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
  }

  82.22% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
  }

  0% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
  }

  100% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
  }
}

@keyframes kf_el_nK7GUoQYGR_an_97jzUlAiI {
  80% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
  }

  82.22% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
  }

  0% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
  }

  100% {
    -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
    transform: translate(33.13564109802246px, 34.18841361999512px) scale(1, 1) translate(-33.13564109802246px, -34.18841361999512px);
  }
}

@-webkit-keyframes kf_el_asw8F0oKiS_an_sY9_7w4qa {
  80% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
  }

  82.22% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
  }

  0% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
  }

  100% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
  }
}

@keyframes kf_el_asw8F0oKiS_an_sY9_7w4qa {
  80% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
  }

  82.22% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
  }

  0% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
  }

  100% {
    -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
    transform: translate(108.86436462402344px, 31.188413619995117px) scale(1, 1) translate(-108.86436462402344px, -31.188413619995117px);
  }
}

@-webkit-keyframes kf_el_C8KACESc0J_an_TfS01SmCf {
  80% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
  }

  82.22% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
  }

  0% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
  }

  100% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
  }
}

@keyframes kf_el_C8KACESc0J_an_TfS01SmCf {
  80% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
  }

  82.22% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
  }

  0% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
  }

  100% {
    -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
    transform: translate(17.405322194099426px, 63.99999952316284px) scale(1, 1) translate(-17.405322194099426px, -63.99999952316284px);
  }
}

@-webkit-keyframes kf_el_KrJa29UHrB_an_p71x5GAGo {
  80% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
  }

  82.22% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
  }

  0% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
  }

  100% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
  }
}

@keyframes kf_el_KrJa29UHrB_an_p71x5GAGo {
  80% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
  }

  82.22% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
  }

  0% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
  }

  100% {
    -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
    transform: translate(129.5946807861328px, 63.99999952316284px) scale(1, 1) translate(-129.5946807861328px, -63.99999952316284px);
  }
}

@-webkit-keyframes kf_el_AK0993dt3d_an_CwjFqFeB4 {
  0% {
    opacity: 0;
  }

  17.78% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_AK0993dt3d_an_CwjFqFeB4 {
  0% {
    opacity: 0;
  }

  17.78% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_A-vyzMmRiQ_an_RgMpcDdIb {
  35.56% {
    opacity: 0;
  }

  48.89% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_A-vyzMmRiQ_an_RgMpcDdIb {
  35.56% {
    opacity: 0;
  }

  48.89% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_2q2izWGT1X_an_w9yrwCK0P {
  71.11% {
    opacity: 0;
  }

  82.22% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_2q2izWGT1X_an_w9yrwCK0P {
  71.11% {
    opacity: 0;
  }

  82.22% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#el_H3JsxLZ2b * {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_ino0khCR-w {
  stroke: none;
  stroke-width: 1;
  fill: none;
}

#el_EGjxAacbDJ {
  fill-opacity: 0.1;
  fill: #224364;
}

#el__LJ3EtYOQR {
  -webkit-transform: translate(24px, 5px);
  transform: translate(24px, 5px);
}

#el_2q2izWGT1X {
  fill: #FFE465;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  opacity: 0;
  -webkit-animation-name: kf_el_2q2izWGT1X_an_w9yrwCK0P;
  animation-name: kf_el_2q2izWGT1X_an_w9yrwCK0P;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_A-vyzMmRiQ {
  fill: #FFE465;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  opacity: 0;
  -webkit-animation-name: kf_el_A-vyzMmRiQ_an_RgMpcDdIb;
  animation-name: kf_el_A-vyzMmRiQ_an_RgMpcDdIb;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_AK0993dt3d {
  fill: #FFE465;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  opacity: 0;
  -webkit-animation-name: kf_el_AK0993dt3d_an_CwjFqFeB4;
  animation-name: kf_el_AK0993dt3d_an_CwjFqFeB4;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_1T_T9PqaUW {
  stroke: #E5CD58;
}

#el_hO704vJn6J {
  fill: #3EA1B2;
}

#el_aJEZtDU0p4 {
  fill: #3EA1B2;
}

#el_I-USeSkrOl {
  fill: #3EA1B2;
}

#el_KrJa29UHrB {
  stroke: #E5CD58;
  fill: #FFE465;
}

#el_C8KACESc0J {
  stroke: #E5CD58;
  fill: #FFE465;
}

#el_asw8F0oKiS {
  stroke: #E5CD58;
  fill: #FFE465;
}

#el_nK7GUoQYGR {
  stroke: #E5CD58;
  fill: #FFE465;
}

#el_REEUnqs_Sz {
  stroke: #E5CD58;
  fill: #FFE465;
  -webkit-transform: translate(65px, 83px) rotate(-90deg);
  transform: translate(65px, 83px) rotate(-90deg);
}

#el_KrJa29UHrB_an_p71x5GAGo {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
  transform: translate(129.5946807861328px, 63.99999952316284px) scale(0, 0) translate(-129.5946807861328px, -63.99999952316284px);
  -webkit-animation-name: kf_el_KrJa29UHrB_an_p71x5GAGo;
  animation-name: kf_el_KrJa29UHrB_an_p71x5GAGo;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_C8KACESc0J_an_TfS01SmCf {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
  transform: translate(17.405322194099426px, 63.99999952316284px) scale(0, 0) translate(-17.405322194099426px, -63.99999952316284px);
  -webkit-animation-name: kf_el_C8KACESc0J_an_TfS01SmCf;
  animation-name: kf_el_C8KACESc0J_an_TfS01SmCf;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_asw8F0oKiS_an_sY9_7w4qa {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
  transform: translate(108.86436462402344px, 31.188413619995117px) scale(0, 0) translate(-108.86436462402344px, -31.188413619995117px);
  -webkit-animation-name: kf_el_asw8F0oKiS_an_sY9_7w4qa;
  animation-name: kf_el_asw8F0oKiS_an_sY9_7w4qa;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_nK7GUoQYGR_an_97jzUlAiI {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
  transform: translate(33.13564109802246px, 34.18841361999512px) scale(0, 0) translate(-33.13564109802246px, -34.18841361999512px);
  -webkit-animation-name: kf_el_nK7GUoQYGR_an_97jzUlAiI;
  animation-name: kf_el_nK7GUoQYGR_an_97jzUlAiI;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_REEUnqs_Sz_an_1Z2T4-VfM {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
  transform: translate(65.5px, 9px) scale(0, 0) translate(-65.5px, -9px);
  -webkit-animation-name: kf_el_REEUnqs_Sz_an_1Z2T4-VfM;
  animation-name: kf_el_REEUnqs_Sz_an_1Z2T4-VfM;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
