    .animate-text-move {

      animation: textmove 2s forwards;
      animation-delay: 2s;
      z-index: 99;
      opacity: 0;
      color: $blue-va;
      font-family: $title-font;
      width: 400px;
      left: 180px;
      text-align: left;
    }

    @keyframes textmove {
      from {
        top: 0;
        opacity: 1;
        color: $blue-va;
        width: 200px;
        text-align: center;
      }

      to {
        top: 300px;
        text-align: center;
        opacity: 1;
        color: white;
        width: 200px;
      }
    }

    .animate-text-move-design {
      text-align: center;
      animation: textmovedesign 2s forwards;
      animation-delay: 2s;
      z-index: 99;
      opacity: 0;
      color: $blue-va;
      font-family: $title-font;
      width: 350px;
      font-size: 24px;
      padding-left: 4em;

    }

    @keyframes textmovedesign {
      0% {
        top: 0;
        opacity: 1;
        color: $blue-va;

      }



      100% {
        top: 360px;
        opacity: 1;
        color: white;

      }
    }


    @keyframes textmovedesignres {
      0% {
        top: 0;
        opacity: 1;
        color: $blue-va;
      }

      95% {
        top: 300px;
        color: white;

      }

      100% {
        opacity: 0;
      }
    }

    .animate-show-text {
      animation: viewtext 2s forwards;
    }

    .animate-show-timing {
      animation: viewtext 2s forwards;
      animation-delay: 1s;
      opacity: 0;
    }

    @keyframes viewtext {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .animate-bubble-big {
      animation: move-bubble 2s forwards;
    }

    @keyframes move-bubble {
      from {
        left: -50%;
        opacity: 0;
      }

      to {
        left: 0;
        opacity: 1;
      }
    }

    .animate-ball-bubble {
      animation: move-circle .5s forwards;
      animation-delay: 2s;
    }

    @keyframes move-circle {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
        ry: 87px;
        rx: 87px;
      }
    }

    .animate-paint {
      animation: move-paint .5s forwards;
      animation-delay: 2s;
    }

    .animate-splash {
      opacity: 0;
      animation: move-splash 2s forwards;
      animation-delay: 2.5s;
    }

    .animate-show-text-design {
      animation: viewtextdesign 2s forwards;
      animation-delay: 2.5s;
    }

    @keyframes viewtextdesign {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes move-paint {
      from {
        ry: 10;
        rx: 15;
      }

      to {
        ry: 100;
        rx: 120;
        transform: translateX(50%);
        opacity: 1;
      }
    }

    @keyframes move-splash {
      from {
        opacity: 1;
      }

      to {
        opacity: 1;
      }
    }

    .animate-text-move-developer {
      width: 300px;
      animation: textmovedeveloper 2s forwards;
      z-index: 3;
      color: $blue-va;
    }

    @keyframes textmovedeveloper {
      from {
        top: 0;
        left: 0;
        opacity: 1;
        text-align: center;

      }

      to {
        width: 300px;
        top: 355px;
        left: -40px;
        opacity: 1;

        text-align: center;
      }
    }

    .animate-modal {
      animation: move-modal 2s forwards;
    }

    @keyframes move-modal {
      from {
        opacity: 1;
        width: 10px;
      }

      to {
        opacity: 1;
        width: 400px;
      }
    }

    .line-animate {
      animation: expand-line 2s forwards;
    }

    .animate-ball-2 {
      animation: expand-ball-2 2s forwards;
    }

    @keyframes expand-ball-2 {
      from {
        opacity: 1;
      }

      to {
        ry: 120;
        rx: 120;
        transform: translateX(300px);
      }
    }

    .animate-ball-brain {
      opacity: 0;
      animation: expand-ball-3 2s forwards;
      animation-delay: 1s;
    }

    @keyframes expand-ball-3 {
      from {
        opacity: 1;
      }

      to {
        opacity: 1;
      }
    }

    .animate-text-move-create {
      width: 400px;
      animation: textmovecreate 2s forwards;
      animation-delay: 2s;
      left: 90px;
      text-align: left;
      z-index: 3;
      color: $blue-va;
      font-family: $base;
    }

    @keyframes textmovecreate {
      from {
        top: 0;
        opacity: 1;
        color: $blue-va;
        width: 200px;
        text-align: center;
      }

      to {
        top: 330px;
        text-align: center;
        opacity: 1;
        color: white;
        width: 200px;
      }
    }

    .animate-balls-home {
      animation: hide-balls 2s forwards;
      animation-delay: 2s;
    }

    @keyframes hide-balls {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
        display: none;
      }
    }

    .animate-transition-ball {
      position: absolute;
      animation: show-transition 2s forwards;
      opacity: 0;
      animation-delay: 2.5s;
    }

    @keyframes show-transition {
      0% {
        opacity: 0;
      }

      50% {
        transform: rotate(10deg);
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    .animate-innovation {
      animation: show-innovation 2s forwards;
      opacity: 0;
      animation-delay: 3s;
    }

    @keyframes show-innovation {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    // Confetti 
    @for $i from 4 through 15 {
      .cls-#{$i} {
        animation: open-confeti-#{$i} .5s forwards;

        @keyframes open-confeti-#{$i} {
          50% {
            transform: translate((-5px), (-9px));
          }

          100% {
            transform: translate((random(200) * -1px), (random(200) * -1px));
          }
        }
      }
    }

    // Colors confetti animation
    .cls-1 {
      fill: #b9382f;
    }

    .cls-3 {
      fill: #ffe465;
    }

    .cls-4 {
      fill: #5cd89f;
    }

    .cls-5 {
      fill: #e59ca8;
    }

    .cls-6 {
      fill: #5b507a;
    }

    .cls-7 {
      fill: #ffa400;
    }

    .cls-8 {
      fill: #005d68;
    }

    .cls-9 {
      fill: #224364;
    }

    .cls-10 {
      fill: #3e78b2;
    }

    .cls-11 {
      fill: #3ea1b2;
    }

    .cls-12 {
      fill: #4d4d4d;
    }

    .cls-14 {
      fill: #ffe465;
    }

    .move-laptop {
      width: 100%;
      top: -125px;
    }
